{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>
    body{
margin:0;
overflow-x:hidden;
font-family: 'Poppins', sans-serif;
}





/*DEFAULT*/
a,textarea,li,button{
text-decoration:none;
transition:0.5s;
resize:none;
list-style:none;
outline:none !important;
}

ul{
position:relative;
left:-20px;
}

p,.title,.sub-title{
line-height:1.4em;
letter-spacing:0.08em;
}

.btn1,.btn2,.btn3{
padding:10px 20px;
border-radius:3px;
text-align:center;
color:#fff;
}

.btn1{
background:#fbc01a;
}

.btn2{
background:#d80b1a;
}

.btn3{
background:#1e1e1e;
}

.btn1:hover,.btn2:hover,.btn3:hover{
box-shadow:0px 6px 16px -6px rgba(1,1,1,0.5);
}

.title{
font-size:2.4em;
}

.sub-title{
font-size:1.3em;
color:gray;
}

em{
font-style:normal;
color:#d80b1a;
}

table{
width:100%;
border-collapse:collapse;
}

table td{
width:50%;
position:relative;
vertical-align:top;
}

.title_header{
width:70%;
display:block;
margin:5vh auto;
text-align:center;
}

.title_header .title{
font-size:2em;
}

.title_header .sub-title{
font-size:1em;
color:gray;
font-weight:400;
}

.fa-check{
color:green;
}

.fa-times{
color:#d80b1a;
}










/*ANIMATION*/
.ml9 {
position: relative;
}

.ml9 .text-wrapper {
position: relative;
display: inline-block;
padding-right: 0.05em;
padding-bottom: 0.1em;
overflow: hidden;
}

.ml9 .letter {
transform-origin: 50% 100%;
display: inline-block;
}










/*NAVIGATION*/
header{
width:100%;
display:flex;
align-items:center;
justify-content:center;
position:fixed;
top:0;
z-index:999;
}

header .banner{
width:80%;
padding:10px 0px;
color:#1e1e1e;
}

header .banner span:nth-child(1) a{
margin:0px 5px;
font-size:13px;
color:#000;
}

header .banner span:nth-child(1) em{
color:#000;
}

header .banner span:nth-child(2) a{
margin:0px 5px;
background:#d80b1a;
color:#fff;
border-radius:50%;
height:20px;
width:20px;
padding:6px;
float:right;
text-align:center;
box-shadow:0px 6px -16px 6px rgba(1,1,1,0.5);
}

header .nav{
position:fixed;
top:3em;
width:80%;
box-shadow:0px 6px 16px -6px rgba(1,1,1,0.5);
background:#fff;
border-radius:40px;
padding:20px;
transition:0.5s;
border-top:1px solid #d80b1a;
}

header .nav a{
display:inline-block;
margin:0px 20px;
text-decoration:none;
color:#000;
transition:0.5s;
font-weight:400;
}

header .nav a:hover:not(:first-child){
color:#d80b1a;
}

header .nav a.active{
box-sizing: border-box;
transition: all 0.2s ease-in-out;
appearance: none;
-webkit-appearance: none;
box-shadow: inset 0px 0px 1px #BABECC, inset -1px -1px 2px #FFF;
padding:10px 20px;
border-radius:40px;
font-weight:bold;
}

header .nav .dropdown li:before{
content:"\f0a4";
font-family:"FontAwesome";
color:#d80b1a;
margin:0px 4px;
}

header .nav .icon{
display:none;
}

.dropbtn{
background:transparent;
border:0;
outline:0;
font-size:16px;
margin:0px 10px;
font-family: 'Yusei Magic', sans-serif;
transition:0.5s;
}

.dropbtn:hover{
color:#d80b1a;
}

.dropdown {
position: relative;
display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
position: absolute;
background-color: #fff;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
margin-top:10px;
}

.dropdown-content:before {
content:"\f0d8";
font-family:"FontAwesome";
position:absolute;
text-align:center;
left:45%;
top:-15px;
font-size:20px;
color:gray;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {color:#d80b1a;}
.dropdown:hover .dropdown-content {display: block;}


@media (max-width:1000px){
header .nav{
width:70%;
}
}

@media (max-width:920px){
header .nav{
width:75%;
}
}

@media (max-width:850px){
header .nav{
width:80%;
}
}
@media (max-width:800px){
header .nav{
width:90%;
}
}
@media (max-width:720px){
header{
position:sticky;
top:0;
z-index:999;
}

header .nav{
height:45px;
overflow-y:hidden;
transition:0.5s;
}
header .nav a:not(:first-child){
display:block;
margin:15px;
}
header .nav a.active{
width:120px;
}
header .nav .icon{
display:block;
float:right;
position:absolute;
right:15px;
top:0px;
cursor:pointer;
}
.dropbtn{
margin:5px 8px;
}
.dropdown-content a{
margin:5px;
padding:0px;
}
.dropdown-content:before {
content:"\f0d9";
font-family:"FontAwesome";
position:absolute;
left:-8px;
color:gray;
top:0px;
}

.dropdown-content a:nth-child(1){
margin:0px 10px;
padding-left:5px;
}
.dropdown-content {
position:fixed;
z-index:9;
left:30%;
margin-top:-25px;
}
}
#navbar {
background-color: #fff;
position: fixed;
top: -85px;
width: 100%;
display: block;
z-index:999;
padding:10px 0px;
transition: top 0.3s;
box-shadow:0px 6px 16px -6px rgba(1,1,1,0.5);
}

#navbar a {
float: left;
display: block;
color: #000;
text-align: center;
padding: 15px;
text-decoration: none;
font-size: 17px;
font-weight:400;
}

#navbar a:hover {
color: black;
}

#navbar .dropbtn{
background:transparent;
border:0;
outline:0;
font-size:17px;
margin:20px 10px;
font-family: 'Yusei Magic', sans-serif;
transition:0.5s;
} 
/* Dropdown Content (Hidden by Default) */
#navbar .dropdown-content {
min-width: auto;
margin-top:60px;
}

#navbar a:not(:first-child), #navbar .dropbtn, #navbar .dropdown{
float:right;
}

#navbar .dropdown a{
float:left;
}


@media (max-width:900px){
#navbar{
display:none;
}
header .banner{
display:none;
}
header .nav a.active{
width:200px;
}
header .nav{
position:fixed;
top:0em;
width:100%;
box-shadow:0px 6px 16px -6px rgba(1,1,1,0.5);
background:#fff;
border-radius:0px;
padding:10px;
transition:0.5s;
}
}

/*----  Main Style  ----*/
#cards_landscape_wrap-2{
  text-align: center;
  background: #F7F7F7;
}
#cards_landscape_wrap-2 .container{
  padding-top: 80px; 
  padding-bottom: 100px;
}
#cards_landscape_wrap-2 a{
  text-decoration: none;
  outline: none;
}
#cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box{
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box img{
  -webkit-transition:all .9s ease; 
  -moz-transition:all .9s ease; 
  -o-transition:all .9s ease;
  -ms-transition:all .9s ease; 
  width: 100%;
  height: 200px;
}
#cards_landscape_wrap-2 .card-flyer:hover .image-box img{
  opacity: 0.7;
  -webkit-transform:scale(1.15);
  -moz-transform:scale(1.15);
  -ms-transform:scale(1.15);
  -o-transform:scale(1.15);
  transform:scale(1.15);
}
#cards_landscape_wrap-2 .card-flyer .text-box{
  text-align: center;
}
#cards_landscape_wrap-2 .card-flyer .text-box .text-container{
  padding: 30px 18px;
}
#cards_landscape_wrap-2 .card-flyer{
  background: #FFFFFF;
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}
#cards_landscape_wrap-2 .card-flyer:hover{
  background: #fff;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}
#cards_landscape_wrap-2 .card-flyer .text-box p{
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px; 
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
}
#cards_landscape_wrap-2 .card-flyer .text-box h6{
  margin-top: 0px;
  margin-bottom: 4px; 
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Black', sans-serif;
  letter-spacing: 1px;
  color: #00acc1;
}








</style>
<!--HEADER-->
<header>
<div class="banner">
    <span>
        <a href="#"><em style="color:#d80b1a;">Bienvenue</em> à Hotel Bayakh</a>
        <a href="tel:8120079869"><em style="color:#d80b1a;">Téléphone</em>: +221 77 123 45 67</a>
    </span>
    <span>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    </span>
    </div>
    <nav class="nav" id="nav">
    <a href="#" class="active">®<em>BAYAKH</em> <l style="font-weight:200;">|</l> HOTEL</a>
    <a href="{{ path('app_home') }}">ACCUEIL</a>
    <a href="{{ path('app_chambre') }}">CHAMBRES</a>
    <a href="{{ path('app_reservation') }}">RESERVATIONS</a>
    <a href="#">CONTACTS</a>

    </div> 
    <a href="#">A PROPOS</a>
    <a href="#" style="float:right;padding:10px 0;"><i class="fa fa-user"></i> SE CONNECTER</a>
    <a class="icon" id="icon" onclick="opennav()"><i class="fa fa-bars"></i></a>
    </nav>

    <div id="navbar">
    <a href="#" class="active">®<em>BAYAKH</em> <l style="font-weight:200;">|</l> HOTEL</a>
    <a href="#"><i class="fa fa-user"></i> SE CONNECTER</a>
    
    <a href="#">CONTACTS</a>
    <a href="{{ path('app_reservation') }}">RESERVATIONS</a>
    <a href="{{ path('app_chambre') }}">CHAMBRES</a>
    <a href="{{ path('app_home') }}">ACCUEIL</a>
    </div>
</header>



<br>

       <!-- Topic Cards -->
    <div id="cards_landscape_wrap-2">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <a href="">
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box">
                                    <img src="/assets/img/01.jpg" alt="" />
                                </div>
                                <div class="text-container">
                                    <h6>Chambre VIP</h6>
                                    <button class="btn btn-primary">Réserver</button>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                
                
            </div>
        </div>
    </div>












<!--JAVASCRIPT-->
<script>
    



// Wrap every letter in a span
var textWrapper = document.querySelector('.ml9 .letters');
textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

anime.timeline({loop: true})
  .add({
    targets: '.ml9 .letter',
    scale: [0, 1],
    duration: 1500,
    elasticity: 600,
    delay: (el, i) => 45 * (i+1)
  }).add({
    targets: '.ml9',
    opacity: 0,
    duration: 1000,
    easing: "easeOutExpo",
    delay: 1000
  });
  
  
  
  
  
  
  
  
  
  //NAVIGATION

window.onscroll = function() {scrollFunction()};
function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
  if (window.matchMedia('screen and (max-width: 768px)').matches){

  }else{
    document.getElementById("navbar").style.top = "0";
    document.getElementById("nav").style.display = "none";
  }} else {
  if (window.matchMedia('screen and (max-width: 768px)').matches){

  }else{
    document.getElementById("navbar").style.top = "-85px";
    document.getElementById("nav").style.display = "block";
    }
  }
}

var count=0;
function opennav(){
if(count==0){
document.getElementById("nav").style.height="240px";
document.getElementById("icon").style.color="#3399ff";
count++;
}else{
document.getElementById("nav").style.height="45px";
document.getElementById("icon").style.color="#000";
count=0;
}
}










</script>

{% endblock %}